#added by jmil on 2010-04-20

.sconsign.dblite
build
html
*.o

firmware/MB-mb24-v3.0.map

save-settings~

save-settings

firmware/push

firmware/go

firmware/foo

firmware/MB-mb24-v3.1.map

firmware/cleanup.sh

firmware/cleanup.sh
